
/assignments/EnterpriseComponentDevelopment/ecd-assigment-1/target
/assignments/EnterpriseComponentDevelopment/assignment1/target/classes
/assignments/EnterpriseComponentDevelopment/assignment1/target/test-classes
/assignments/MobileWebDevelopment/assignment1/db/lab04.0
/assignments/MobileWebDevelopment/assignment1/db/lab04.ns
/assignments/MobileWebDevelopment/assignment1/db/mongod.lock