.tm {
    display: none;
}

#mapContainer {
	display: none;
    height: 500px;
    width: 800px;
    border:10px solid #eaeaea;
}

#cancel {
  display: none;
}

#newitem {
  display: none;
  height: 100px;
}

#item_tm {
  display: none;
}

#save {
  font-size: 8pt;
}

#text {
  font-size: 8pt;
}

div.delete {
  display: none;
  font-size: 8pt;
  float: right;
  border: 1px solid #900;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, rgb(173,0,0)),
    color-stop(0.57, rgb(250,120,120))
  );
}

div.showgroupings {
  font-size: 8pt;
  float: right;
  border: 1px solid #900;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, rgb(100,0,0)),
    color-stop(0.57, rgb(125,60,110))
  );
}

span.check {
  border: 2px solid #333; 
  line-height: 20px; 
  font-size: 20px;
  width: 20px; 
  height:20px;
  display: inline-block;
  margin-right: 10px;
}

div[data-role='content'] {
    overflow: hidden;
    position: fixed;
    top: 40px;
    bottom: -60px;
    left: 0px;
    right: 0px;
}
