<div class="global-nav" data-section-term="top_nav">
	<div class="global-nav-inner">
		<div class="container">
			<ul class="nav js-global-actions" id="global-actions">
				<li id="global-nav-home" class="home active new" data-global-action="home">
					<a class="js-nav" href="/" data-component-term="home_nav" data-nav="home" title="Home"> <span class="new-wrapper"><i class="nav-home"></i><i class="nav-new"></i></span> <span class="text">Home</span> </a>
				</li>
				<li class="people" data-global-action="connect">
					<a class="js-nav" href="/movie_reviews" data-component-term="connect_nav" data-nav="connect" title="Movies"> <span class="new-wrapper"><i class="nav-people"></i><i class="nav-new"></i></span> <span class="text">Movies</span> </a>
				</li>
				<li class="topics" data-global-action="discover">
					<a class="js-nav" href="/users" data-component-term="discover_nav" data-nav="discover" title="Discover"> <span class="new-wrapper"><i class="nav-topics"></i><i class="nav-new"></i></span> <span class="text">All Users</span> </a>
				</li>
				<% if signed_in? %>
				<li class="profile" data-global-action="profile">
					<a class="js-nav" href="/users/<%= current_user.id %>" data-component-term="profile_nav" data-nav="profile" title="Me"> <span class="new-wrapper"><i class="nav-me"></i><i class="nav-new"></i></span> <span class="text">Me</span> </a>
				</li>
				<% end %>
			</ul>
			<i class="bird-topbar-etched"></i>

			<div class="pull-right">
				<i class="topbar-divider"></i>
				<ul class="nav">
					<% if signed_in? %>
					<li>
						<%= link_to "Sign out", signout_path, method: "delete" %>
					</li>
					<% else %>
					<li>
						<%= link_to "Sign in", signin_path %>
					</li>
					<% end %>
				</ul>
				<i class="topbar-divider"></i>

			</div>

			<a id="close-all-button" class="close-all-tweets js-close-all-tweets" href="#" title="Close all open Tweets" style="display: none;"> <i class="nav-breaker"></i> </a>
		</div>
	</div>
</div>