<% if !@user.nil? %>
	<% provide(:title, @user.name) %>
<% end %>  
<div class="row">
  <div class="span8">
  	<% if !@user.nil? %>
    	<% if @user.movie_reviews.any? %>
	      <h3>MovieReviews (<%= @user.movie_reviews.count %>)</h3>
	      <ol class="movie_reviews">
	        <%= render @movie_reviews %>
	      </ol>
	    <% end %>
	<% else %>
	      <h3>MovieReviews (<%= @movie_reviews.count %>)</h3>
	      <ol class="movie_reviews">
	        <%= render @movie_reviews %>
	      </ol>
	<% end %>    
  </div>
</div> 