<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


<!-- =============================================================== -->

  <context:annotation-config/>
 		
  <context:component-scan base-package="doconnor.jpa" />
  
 <!-- ========================== Presentation tier ============================ -->
  
    <bean id="scanner" class="java.util.Scanner">
   		  	<constructor-arg>
				<util:constant static-field="java.lang.System.in"/>
			</constructor-arg>
  	</bean>
   
  <!-- ============================= Data Access =========================== -->

     <tx:annotation-driven transaction-manager="transactionManager"/>
 
  <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"    value="org.hsqldb.jdbcDriver" />
        <property name="url"   value="jdbc:hsqldb:hsql://localhost"  />
        <property name="username" value="sa" />
        <property name="password" value="sa" />
    </bean>
	
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="soccer" />
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform"
                    value="org.hibernate.dialect.HSQLDialect" />
                <property name="showSql" value="true" />
                <property name="generateDdl" value="true" />              
            </bean>
        </property>
    </bean>

    <bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
 
</beans>
