<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

<!-- =============================================================== -->

  <context:annotation-config/>
<bean id="validation" class="doconnor.aop.Validation" />
  <bean id="security" class="doconnor.aop.Security" >
       </bean>
     
     <aop:aspectj-autoproxy />
 		
  <context:component-scan base-package="doconnor.aop" />
  
 <!-- ========================== Presentation tier ============================ -->
  
    <bean id="scanner" class="java.util.Scanner">
   		  	<constructor-arg>
				<util:constant static-field="java.lang.System.in"/>
			</constructor-arg>
  	</bean>
   
  <!-- ============================= Data Access =========================== -->

   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
           destroy-method="close">
		<property name="driverClassName"><value>org.hsqldb.jdbcDriver</value> </property>
		<property name="url"><value>jdbc:hsqldb:data/test</value></property>
 		<property name="username" value="sa"/>
		<property name="password" value="sa"/> 
    </bean> 
  
   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="configLocation"  value="classpath:hibernate.cfg.xml"/>
    </bean>

</beans>
