<div id="page-container" class="wrapper wrapper-home white">
	<div class="dashboard">
		<div class="module mini-profile">

			<%= render 'shared/user_info' %>

			<%= render 'shared/stats' %>

			<div class="stream-container "
			data-max-id="288081372772458495" data-since-id="288098988383666176"

			>
				<div class="stream home-stream">
					<div class="stream-items" id="stream-items-id">
						<% if current_user.movie_reviews.any? %>
						<%= render @movie_reviews %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-main" id="timeline">
		<div class="content-header">
			<div class="header-inner">
				<h2 class="js-timeline-title">Microposts</h2>
			</div>
		</div>
		<div class="stream-container "
		data-max-id="288081372772458495" data-since-id="288098988383666176"

		>
			<div class="stream home-stream">
				<div class="stream-items" id="stream-items-id">
					<% if current_user.microposts.any? %>
					<%= render @microposts %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>